<h1>Render with numbers</h1>

<h2>Hide</h2>
<h3 *ngIfResponsiveHide="640">Hide on screens bigger than sm</h3>
<h3 *ngIfResponsiveHide="769">Hide on screens bigger than md</h3>
<h3 *ngIfResponsiveHide="1024">Hide on screens bigger than lg</h3>
<h3 *ngIfResponsiveHide="1280">Hide on screens bigger than xl</h3>

<h2>Show</h2>
<h3 *ngIfResponsiveShow="640">Render on sm and bigger</h3>
<h3 *ngIfResponsiveShow="769">Render on md and bigger</h3>
<h3 *ngIfResponsiveShow="1024">Render on lg and bigger</h3>
<h3 *ngIfResponsiveShow="1280">Render on xl and bigger</h3>

<h1>Render with config</h1>

<!-- SAMPLE-CONFIG
{
  sm: 640px,
  md: 769px,
  lg: 1024px,
  xl: 1280px,
}
-->

<h2>Hide</h2>
<h3 *ngIfResponsiveHide="'sm'">Hide on screens bigger than sm</h3>
<h3 *ngIfResponsiveHide="'md'">Hide on screens bigger than md</h3>
<h3 *ngIfResponsiveHide="'lg'">Hide on screens bigger than lg</h3>
<h3 *ngIfResponsiveHide="'xl'">Hide on screens bigger than xl</h3>

<h2>Show</h2>
<h3 *ngIfResponsiveShow="'sm'">Render on sm and bigger</h3>
<h3 *ngIfResponsiveShow="'md'">Render on md and bigger</h3>
<h3 *ngIfResponsiveShow="'lg'">Render on lg and bigger</h3>
<h3 *ngIfResponsiveShow="'xl'">Render on xl and bigger</h3>

